
<h1 class="header3">SnackExpress Database</h1>
<h4 class="header4">View and collect all orders in the database!</h4>
<link href="https://fonts.googleapis.com/css?family=Oswald|Skranji" rel="stylesheet">

<ul class="card">
<% @order.each do |order| %>
  <li>
   <a href="/snack/show/<%= order.id %>"><%= order.customer_name %></a>
    <span class="text-input"><%= order.location %></span>
     <span class="text-input"><%= order.description %></span>
  </li>
<% end %>
</ul>

