<h2>Place Order</h2>
<form action="snack/create">
    
  <input class="text-input" id="new-name" name="name" type="text" placeholder="Name">
  <input class="text-input" id="new-order-description" name="description" type="text" placeholder="Order Description">
  <input class="button" id="add-new-order-button" type="submit" value="All Aboard!">
  
</form>