
<h1 class="header">Place Order</h1>
<h4 class="header2">Create and send in your order here!</h4>
<link href="https://fonts.googleapis.com/css?family=Oswald|Skranji" rel="stylesheet">


<form action="snack/create">
    
  <br><input class="text-input" id="new-name" name="name" type="text" placeholder="Name"></br>
  <br><input class="text-input" id="new-location" name="location" type="text" placeholder="Location"></br>
  <br><input class="text-input" id="new-order-description" name="description" type="text" placeholder="Order Description"></br>
  
  <br><table></br>
<tr class="header">
    <th>Snack</th>
    <th>Price</th>
  </tr>
  <tr class="header2">
    <td>Big Texas</td>
    <td>$1</td>
  </tr>
   <tr class="header2">
    <td>Sour Punch</td>
    <td>$1</td>
  </tr>
   <tr class="header2">
    <td>Sour Patch</td>
    <td>$1</td>
  </tr>
   <tr class="header2">
    <td>Gatorade</td>
    <td>$1</td>
  </tr>
</table>
  
 <div class="button1">
    <input class="button" id="add-new-order-button" type="submit" value="All Aboard!">
</div>
</form>
